.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					// background-image: url(../images/bg/madori_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/madori_bg.jpg);
					}
				}
				&.-parallax_bg02{//ここに背景を指定する。
					// background-image: url(../images/bg/hinoki-contents_bg.jpg);
					@include mq(tb){
						background-image: url(../images/bg/hinoki-contents_bg.jpg);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			
			//サイト右側中段に表示（PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			// サイト下部に表示（PCのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				top: 0%;
				left: 75%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				top: 0%;
				left: 25%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}

			// カードレイアウト内のボタン
			&.-card-btn{
				top: 87%;
				left: 50%;
				transform: translateX(-50%);
				width: 50%;
				@include mq(tb){
					top: 82.5%;
					width: 20%;
				}
			}
			&.-madori-slider{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);

				@include mq(tb){
					top: 42%;
				}
			}
			&.-card_text{
				top: 51%;
				left: 50%;
				width: 87%;
				height: 43.5%;
				overflow-y: scroll;
				@include mq(sp){
					transform: translateX(-50%);
				}
				@include mq(tb){
					top: 49%;
					left: 19.9%;
					width: 31%;
					height: 45.5%;
				}
			}
			&.-owners-voice{
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				height: 100%;
				@include mq(tb){
					top: 64%;
					width: 100%;
				}
			}
			&.-top-built-contents{
				top: 25%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 50%;
				}
			}
			&.-top-boxBtn{
				top: 80%;
				left: 50%;
				transform: translateX(-50%);
				width: 40%;
				@include mq(tb){
					width: 30%;
				}
			}
			&.-movie{
				top: 24%;
				left: 50%;
				width: 80%;
				@include mq(sp){
					transform: translateX(-50%);
				}
				@include mq(tb){
					top: 33%;
					left: 20%;
					width: 27%;
				}
			}

			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
			
		}
	}
}


